nav{
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
}
.profile-wrapper{
    flex-direction: row;
    display:flex;
    align-items: center
    
}
.profile-wrapper{
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.temp-info{
    display: flex;
    flex-direction: column;

}
