.carousel-wrapper{
width: 1140px;
  padding:20px 0;
flex-direction: row;
display: flex;
justify-content: space-between;
align-items: center;
border: 2px solid white;
border-radius: 25px;
box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.career-item{
    display: inline-block;
}
.the-whole-wrapper{
  margin-left: 190px;
}
.alice-container{
  width: 70%;
 
}
.career-item h5{
  text-align: left;
  padding-right: 110px;
}

  h3 {
    text-align: left; 
    color: black;
    font-size: 18px;
    margin-left: 10px;
  }
  
  